.git
.github
.agents
.codex

node_modules
**/node_modules
dist
**/dist

packages/secrets/cm-platform.env
**/.env
**/.env.*
!**/.env.example

npm-debug.log*
*.log

docs
README.md
SECURITY.md

docker/compose*.yml
